wname{
    background: #8888FF;
    padding: 0px 20px;
    margin: auto;
    font-family: Calibri;
    display: inline;
}

button{
    font-family: Arial;
    text-transform: uppercase;
    background: blue;
    padding: 0 20px;
    display: inline-block;
    justify-content: space-around;
}

button a{
    text-decoration: none;
    color: white;
}

button a:hover{
    color: red;
}


current{
    background: 999999;
}

navbaritem{
    padding: 0 10px;
    display: inline-block;
    justify-content: space-around;
}

input{
    margin: right;
}